#
# +==== BEGIN AsperHeader =================+
# LOGO: 
# ..........####...####..........
# ......###.....#.#########......
# ....##........#.###########....
# ...#..........#.############...
# ...#..........#.#####.######...
# ..#.....##....#.###..#...####..
# .#.....#.##...#.##..##########.
# #.....##########....##...######
# #.....#...##..#.##..####.######
# .#...##....##.#.##..###..#####.
# ..#.##......#.#.####...######..
# ..#...........#.#############..
# ..#...........#.#############..
# ...##.........#.############...
# ......#.......#.#########......
# .......#......#.########.......
# .........#####...#####.........
# /STOP
# PROJECT: AsperHeader
# FILE: sample.env
# CREATION DATE: 09-10-2025
# LAST Modified: 16:23:0 12-10-2025
# DESCRIPTION: 
# This is the tts server in charge of providing text to speach functionalities to the asperguide project.
# /STOP
# COPYRIGHT: (c) Asperguide
# PURPOSE: The sample environement file.
# // AR
# +==== END AsperHeader =================+
#
 
# [something] is to be considered as a placeholder for actual sensitive data.

# Database login details
DB_HOST=[host]
DB_PORT=[port]
DB_USER=[non-root-user]
DB_PASSWORD=[non-root-user-password]
DB_DATABASE=[database-of-interest]

# Redis connection details
REDIS_PASSWORD=[redis-password]
REDIS_SOCKET=/run/redis/redis.sock


# Bucket login details
MINIO_HOST=[the-url-to-the-minio-instance]
MINIO_PORT=[the-port-to-the-minio-instance]
MINIO_ROOT_USER=[username-for-the-account]
MINIO_ROOT_PASSWORD=[password-for-the-account]

# Docker settings (Optional, this will only override the default container settings) (These are only updated when the docker compose is building)
LAUNCH_SERVER_ON_BOOT=[boolean-value-if-you-wish-to-start-the-server-when-the-container-starts] # default: True
DEBUG=[boolean-value-if-you-wish-to-start-the-server-in-debug-mode]                             # default: False
LOG_SERVER_DATA=[boolean-value-if-you-wish-to-activate-logging-into-a-file]                     # default: False
LOG_PATH=[the-path-for-the-logs]                                                                # default: "${HOME}/log"
LOG_DATA=[the-name-for-the-log-file]                                                            # default: '${LOG_PATH}/log_'
LOG_ADD_DATE=[boolean-value-if-you-wish-to-add-a-dynamic-date-to-the-file-name]                 # default: True
LOG_FILE_FORMAT=[the-extension-to-put-on-the-end-of-the-file]                                   # default: log
PORT=[the-port-you-wish-the-server-will-listen-on]                                              # default: 5000, please update rebind in the docker compose if you change this value
HOST=[the-range-of-ip-s-the-server-is-listening-on]                                             #The default is '0.0.0.0' meaning all ip's

# Container cache directories
PIP_CACHE_DIR=/pip-cache
XDG_CACHE_HOME=/pip-cache
